<style>
  
    p {
      margin: 0;
    }
    .spacera {
      background: rgb(94, 146, 206);
      
}

    .spacer {
    
      display: right;
      justify-content: space-between;
      width: 100%;
     align-items: center;
    }
  
    .toolbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 60px;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      color: black;
      font-weight: 600;
    }
  
    .content {
      display: flex;
      margin: 82px auto 32px;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
    }
  
   
  
    
    a,
    a:visited,
    a:hover {
      color: #3b88d4;
      text-decoration: none;
    }
  
    a:hover {
      color: #125699;
    }
  
  
    /* Responsive Styles */
    @media screen and (max-width: 767px) {
      .card-container > *:not(.circle-link) ,
      .terminal {
        width: 100%;
      }
  
      .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
      }
  
      .card.highlight-card span {
        margin-left: 72px;
      }
  
      svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg);
      }
    }
    .spacer a {
    margin-right: 10px; 
  }
  
  
    @media screen and (max-width: 575px) {
      svg#rocket-smoke {
        display: none;
        visibility: hidden;
      }
    }
  </style>
  
  <!-- Toolbar -->
  <div class="toolbar"  role="banner">
    <div class="spacera"><span>Cookhub</span></div>

    <div class="spacer"> 
        <a routerLink="home-page">Startseite </a> 
        <a routerLink="/profile-page">Profil</a>
        <a routerLink="/search-page">Suche</a>
        <a routerLink="/new-recipe-page">Neue Rezepte</a>
        <a routerLink="/new-recipe-datatable">Neue Rezepte Anzeige</a>
      </div>
        <a routerLink="/login-page">Logout</a>
    </div>
  
  <div class="content" style="width: 100%;display: block;" role="main">
    
    <router-outlet> </router-outlet>
  </div>
