<div class="mat-card">
    <div class="jumbotron text-center">
        <img src="assets/images/logo.png" alt="Titelbild" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;">
      </div>
      
    <div class="mat-card-header">
        <h2>Registrieren</h2>
    </div>
    <div class="mat-card-content">
        <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregistration()">
            <p> Name</p>
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" >
              </mat-form-field>
              <p> Email</p>
              <mat-form-field class="example-full-width">
                <mat-label>name@beispiel.com*</mat-label>
                <input matInput formControlName="id" >
              </mat-form-field>
              <p> Password</p>
              <mat-form-field class="example-full-width">
                <mat-label>Password mit 8 Zeichen*</mat-label>
                <input type="password" matInput formControlName="password" >
              </mat-form-field>
              
              <div>
                <button mat-raised-button color="primary">Registrieren</button>
                </div>
                <div>
                <a routerLink="/login-page" mat-raised-button color="primary">Zurück zum Login</a>
              </div>
          </form>
        </div>
      </div>