.btn-outline-dark:hover {
    background-color: #12CDD4;
    color: white;
    border-color: #12CDD4;
  }
  .btn-outline-dark {
    background-color: white;
    border-color: #12CDD4;
    color: #12CDD4;
  }
  p {
    font-size: 12px;
  }
  h5 {
    font-weight: bold;
    font-size: 17px;
  }
  h5 {
    font-weight: bold;
    font-size: 17px;
  }