  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Profil</title>
 

  <div class="card">
    <div class="card-header" style="background-color: #12CDD4;">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex">
          <img src="assets/images/profilepicture.jpeg" class="img-fluid img-thumbnail" style="max-width: 150px;">
          <div class="ms-3">
            <h5 style="font-size: 40px; color: white;"> Hi {{get()}}! 😎</h5>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex" >
    <button class="btn btn-add" routerLink="/new-recipe-page">Rezept hinzufügen</button>
    <button (click)="deleteSessionStorage()" class="btn btn-logout" routerLink="/login-page">Logout</button>
</div>

  <div class="card-body p-4 text-black">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <p class="lead fw-bold mb-0" style="color: black; font-size: 23px;">Eigenkreation</p>
    </div>
    <div class="row g-2">
      <div class="col mb-2">
        <div class="card food-card" routerLink="/food/18">
          <img src="assets/images/food/Leberkäse.jpg" class="card-img-top" alt="image 1">
          <div class="card-body">
            <h5>Bayrischer Leberkäse</h5>
            <p class="card-text">Zubereitungszeit: 50 Min. | Schwierigkeit: normal | Kosten 8€</p>
          </div>
        </div>
      </div>
      <div class="col mb-2">
        <div class="card food-card" routerLink="/food/17">
          <img src="assets/images/food/pancakes.jpg" class="card-img-top" alt="image 2">
          <div class="card-body">
            <h5>Pancakes</h5>
            <p class="card-text">Zubereitungszeit: 25 Min. | Schwierigkeit: einfach | Kosten 6€</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-2">
      <div class="col mb-2">
        <div class="card food-card" routerLink="/food/20">
          <img src="assets/images/food/ChickenWings.jpg" class="card-img-top" alt="image 3">
          <div class="card-body">
            <h5>Chicken Wings</h5>
            <p class="card-text">Zubereitungszeit: 45 Min. | Schwierigkeit: einfach | Kosten 5€</p>
          </div>
        </div>
      </div>
      <div class="col mb-2">
        <div class="card food-card" routerLink="/food/19">
          <img src="assets/images/food/lachs.jpg" class="card-img-top" alt="image 4">
          <div class="card-body">
            <h5>Lachs mit Soße</h5>  
            <p class="card-text">Zubereitungszeit: 25 Min. | Schwierigkeit: schwierig | Kosten 10€</p>
          </div>
        </div>
      </div>
    </div>
  </div>
