.btn-logout {
  margin-right: 10px;
  background-color: #12CDD4;
  border-color: #12CDD4;
  margin-top: 10px;
  margin-left: 20px;
  color: white;
}
.btn-add {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
  background-color: #12CDD4;
  border-color: #12CDD4;
  color: white;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.details button{
  color: white;
  background: #12CDD4;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10rem;
  outline: none;
}
p {
    font-size: 15px;
}
h5 {
    font-weight: bold;
    font-size: 20px;
}
.details button:hover{
    opacity: .9;
    cursor: pointer;
}
.details button{
  color: white;
  background: #12CDD4;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10rem;
  outline: none;
}

.food-card:hover {
  cursor: pointer;
}