<meta name="viewport" content="width=device-width, initial-scale=1">
  <section class="top-nav">
    <div>
      <a class="navbar-brand"  routerLink="/home-page">CookHub</a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/home-page">Startseite</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search-page">Suche</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile-page">Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-disabled="true" onclick="deleteSessionStorage()" routerLink="/login-page" >Logout</a>
      </li>
    </ul>
  </section>

 