<footer class="footer">
    <div class="footer__container">
        <div class="footer__section">
            <h3 class="footer__heading">Über uns</h3>
            <p class="footer__text">Deine Kochseite für neue Rezepte</p>
        </div>
        <div class="footer__section">
            <h3 class="footer__heading">Beliebte Kategorien</h3>
            <ul class="footer__list">
                <li class="footer__list-item"><a href="#" class="footer__link">Startseite</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Suche</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Profil</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Logout</a></li>
            </ul>
        </div>
        <div class="footer__section">
            <h3 class="footer__heading">Sitelinks</h3>
            <ul class="footer__list">
                <li class="footer__list-item"><a href="#" class="footer__link">Startseite</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Suche</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Profil</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Logout</a></li>
            </ul>
        </div>
        <div class="footer__section">
            <h3 class="footer__heading">Kontakt</h3>
            <p class="footer__text">Email: info@cookhub.com</p>
            <p class="footer__text">Telefon: 555-555-5555</p>
        </div>
    </div>
    <div class="footer__bottom">
        <p class="footer__text">&copy; 2023 CookHub. Alle Rechte vorbehalten.</p>
    </div>
</footer>
<style>
    .footer {
        background-color: #f2f2f2;
        padding-top: 30px;
    }

    .footer__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer__section {
        width: 20%;
        margin-bottom: 30px;
    }

    .footer__heading {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .footer__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer__list-item {
        margin-bottom: 10px;
    }

    .footer__link {
        color: #333;
        text-decoration: none;
    }

    .footer__link:hover {
        text-decoration: underline;
    }

    .footer__text {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .footer__bottom {
        background-color: #ddd;
        padding-top: 10px;
        padding-bottom: 2px;
        text-align: center;
    }

    
    @media (max-width: 768px) {
    .footer__section {
            width: 50%;
            margin-bottom: 30px;
        }

    .footer__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 20px;
    }
    }
</style>
