<title>Neues Rezept</title>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Füge dein Rezept hinzu</h1>
    </div>
  </div>
</div>

<div class="container text-center mb-4">
  <input type="file" id="fileUpload" style="display: none;" (change)="previewImage($event)">
  <label for="fileUpload" style="display: inline-block; cursor: pointer;">
    <img src="/assets/images/addphoto.jpg" alt="Bild öffnen" style="width: 380px; height: 300px; border: 1px solid #DFDFDF; border-radius: 10px;" id="imagePreview">
  </label>
</div>

<div class="container">
  <form [formGroup]="recipeform" (ngSubmit)="addRecipe()">
    <div class="row">
      <div class="form-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title font-weight-bold">Titel</p>
            <div class="form-group">
              <input type="string" class="form-control" id="minutes" min="1" max="60" placeholder="Rezeptbeschreibung hinzufügen..." formControlName="name">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title font-weight-bold">Schwierigkeit</p>
              <div class="form-group">
                <select class="form-control" id="difficulty" formControlName="difficulty">
                  <option value="Einfach">Einfach</option>
                  <option value="Mittel">Mittel</option>
                  <option value="Schwer">Schwer</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title font-weight-bold">Koch/Backzeit</p>
              <div class="form-group">
                <input type="number" class="form-control" id="minutes" min="1" max="60" placeholder=0 formControlName="cookingtime" inputmode="numeric">
              </div>
            </div>
          </div>
        </div>
        <div class="form-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title font-weight-bold">Kosten</p>
              <div class="form-group">
                <input type="number" class="form-control" id="price" min="1" max="60" placeholder=0 formControlName="price" inputmode="numeric">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title font-weight-bold">Zutaten & Menge</p>
              <div class="form-group">
                <textarea class="form-control" id="ingredients" placeholder="Zutaten hinzufügen...." rows="4" formControlName="ingredientsquantity"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="form-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title font-weight-bold">Zubereitung</p>
              <div class="form-group">
                <textarea class="form-control" id="preparation" placeholder="Beschreibung hinzufügen...." rows="4" formControlName="preparation"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="form-card text-center d-flex justify-content-center">
          <button type="submit" class="btn btn-primary" style="background-color: #12CDD4; color: white; margin-right: 10px;">Rezept speichern</button>
          <button type="reset" class="btn btn-primary" routerLink="/profile-page" style="background-color: #12CDD4; color: white; margin-left: 10px;">Abbrechen</button>
        </div>
      </div>
  </form>
</div>

