h1 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #12CDD4;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }

  .form-card {
    margin-bottom: 20px;
  }

  .btn-primary {
    border-color: #12CDD4;
  }