<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!foods || foods.length <= 0" resetLinkText="Suche zurücksetzen"></app-not-found>
<ul class="food-list">
    <li *ngFor="let food of foods">
        <a routerLink="/food/{{food.id}}" class="food-card">
            <img src="{{food.imageUrl}}" alt="{{food.name}}" class="card-img-top">
            <div class="card-body">
                <h5>{{food.name}}</h5>
                <p class="card-text">
                    Zubereitungszeit: {{food.cookingtime}} Min. | Schwierigkeit: {{food.difficulty}} | Kosten {{food.price | currency:'EUR'}}
                </p>
            </div>
        </a>        
    </li>
</ul>
