.mb-3 {
    padding-top: 20px;
}

.input-group .btn {
    margin-left: 10px;
}

.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-radius: 15px;
}
div{
    cursor: pointer;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a{
    height: 18rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #12CDD4;
}
li a:hover{
    opacity: 0.9;
    cursor: pointer;
}

.content{
    padding: .5rem 1rem;
}

.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    flex:9;
}

.price span{
    border-radius: 2rem;
    display: inline-block;
    margin-right: .3rem;
}

.cook-time{
    flex: 3;
    text-align: right;
}
