
  <title>Startseite</title>
 
  <header>
    <img src="assets/images/frontpage.png" alt="Titelbild" style="max-width: 60%; height: auto; display: block; margin: 0 auto; ">
  </header>
<app-search></app-search>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 >Noch keine Ideen?</h2>
      <h2>Lass dich inspirieren...</h2>
    </div>
  </div>
</div>

<div class="card-body p-3 text-black">
  <div class="row g-3">
    <div class="col-md-4 mb-3">
      <div class="card">
        <a routerLink="/tag/RezeptDesTages">
        <img src="assets/images/food/ChickenWings.jpg" class="card-img-top" alt="image 1">
        <div class="card-body">
          <h5>Rezept des Tages</h5>
        </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <a routerLink="/tag/unter10Euro">
        <img src="assets/images/food/Paprika.jpg" class="card-img-top" alt="image 2">
        <div class="card-body">
          <h5>Gesundes unter 5€</h5>
        </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <a routerLink="/tag/FürDenSchnellenHunger">
          <img src="assets/images/food/Müsli.jpg" class="card-img-top" alt="image 3">
          <div class="card-body">
            <h5>Schnelle Rezepte</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
