<app-not-found [visible]="!food" notFoundMessage="Gericht wurde nicht gefunden!" resetLinkText="Zurück zur Homepage"></app-not-found>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Rezeptseite</title>
    <style>
        .card {
            margin-bottom: 20px;
            border-color: white;
        }
    
        .small-image {
            width: 80%;
            height: 200px;
        }
    
        .cook-time {
            margin-bottom: 10px;
        }
    
        .price {
            margin-bottom: 10px;
        }
    
        .tags {
            margin-bottom: 10px;
        }
    
        .button {
            display: flex;
            justify-content: center;
        }
        .recipe-title {
            display: flex;
            margin-bottom: 10px;
            margin-left: 20px;
            font-family: 'Roboto', sans-serif;
        }
        .btn-primary {
            margin-right: 10px;
            background-color: #12CDD4;
            border-color: #12CDD4;
        }
        .btn-danger {
            margin-right: 10px;
            background-color: #12CDD4;
            border-color: #12CDD4;
        }
    </style>

    
<div *ngIf="food" class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card" id="left">
                <div class="recipe-title" >
                    <h2 class="card-text"><strong>Rezeptname: {{food.name}}</strong></h2>
                </div>
                <img [src]="food.imageUrl" [alt]="food.name" class="card-img-top small-image" />
    
                <div class="card-body">
                    <div class="cook-time">
                        <span class="card-text">Die Kochzeit beträgt circa <strong>{{food.cookingtime}}</strong> Minuten</span>
                    </div>
    
                    <div class="price">
                        <span class="card-text"> Der Preis beträgt {{food.price}} €</span>
                    </div>
    
                    <div class="tags">
                        <app-tags [foodPageTags]="food.tags" justifyContent="start"></app-tags>
                    </div>
                </div>
                <div class="button">
                    <button class="btn btn-primary" routerLink="/new-recipe-page">Rezept bearbeiten</button>
                    <button class="btn btn-danger" (click)="deleteRecipe()">Rezept löschen</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body" id="Zutaten">
                    <h2 class="card-title">Zutaten</h2>
        
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{food.ingredientsquantity}}</li>
                    </ul>
        
                    <h2 class="card-title">Zubereitung</h2>
        
                    <ol class="list-group list-group-flush">
                        <li class="list-group-item">{{food.preparation}}</li>
                    </ol>
                </div>
            </div>
        </div> 
    </div>
</div>
   
    